:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 1rem auto;
  width: 80%;
  font-family: monospace;
  text-align: center;
  font-size: 120%;
}

p {
  margin: 0.5rem 1rem;
  font-size: 0.8rem;
}

main {
  margin: 1rem 0 0;
}

#map {
  height: 400px;
  margin: 2rem auto;
}

.leaflet-div-icon {
  font-size: 0.5rem !important;
  background-color: white;
  height: auto !important;
  border: none;
  border-radius: 5px;
  width: auto !important;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 !important;
  padding: 0.25em;
  gap: 5px;
}

.leaflet-div-icon > img {
  height: 1rem;
}

.temp > img {
  width: 1.6rem;
}

.temp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#all-data {
  margin: 2rem auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.place {
  border: 2px blueviolet solid;
  max-width: 300px;
  flex-basis: 25%;
  flex-grow: 1;
  padding: 1em 1.5em;
  height: 400px;
}